Repository Zone-Protect/Zone-protect, pull requests merged in 2021-12, with the labels that each got.

#28 Now has keys on groups
  src/main/java/org/zone/commands/structure/create/ZoneCreateEndCommand.java
  src/main/java/org/zone/commands/structure/create/ZoneCreateSubStartCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/destroy/ZoneFlagBlockBreakSetEnabledCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/destroy/ZoneFlagBlockBreakSetGroupCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/destroy/ZoneFlagBlockBreakViewCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/door/ZoneFlagInteractDoorEnabledCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/door/ZoneFlagInteractDoorGroupCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/interact/door/ZoneFlagInteractDoorViewCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/members/ZoneFlagMemberGroupAddCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/members/ZoneFlagMemberGroupViewCommand.java
  src/main/java/org/zone/commands/structure/zone/info/bounds/ZoneInfoBoundsShowCommand.java
  src/main/java/org/zone/commands/system/arguments/zone/ZoneArgument.java
  src/main/java/org/zone/event/listener/PlayerListener.java
  src/main/java/org/zone/region/Zone.java
  src/main/java/org/zone/region/ZoneBuilder.java
  src/main/java/org/zone/region/ZoneManager.java
  src/main/java/org/zone/region/flag/DefaultFlagFile.java
  src/main/java/org/zone/region/flag/Flag.java
  src/main/java/org/zone/region/flag/FlagType.java
  src/main/java/org/zone/region/flag/GroupBoundFlag.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakFlag.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakFlagType.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractionFlag.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractionFlagType.java
  src/main/java/org/zone/region/flag/meta/MembersFlag.java
  src/main/java/org/zone/region/flag/meta/MembersFlagType.java
  src/main/java/org/zone/region/flag/move/monster/PreventMonsterFlag.java
  src/main/java/org/zone/region/flag/move/monster/PreventMonsterFlagType.java
  src/main/java/org/zone/region/group/DefaultGroups.java
  src/main/java/org/zone/region/group/Group.java
  src/main/java/org/zone/region/group/ImplementedGroupIterator.java
  src/main/java/org/zone/region/group/SimpleGroup.java
  src/main/java/org/zone/region/group/key/GroupKey.java
  src/main/java/org/zone/region/group/key/GroupKeys.java
Labels: feature

#31 Added Intellij stuff
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Zone_protect.xml
  .idea/inspectionProfiles/profiles_settings.xml
Labels: documentation

#42 Added eco view
  src/main/java/org/zone/Permissions.java
  src/main/java/org/zone/ZonePlugin.java
  src/main/java/org/zone/commands/structure/ZoneCommands.java
  src/main/java/org/zone/commands/structure/create/ZoneCreateEndCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/eco/ZoneViewBalanceCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/members/ZoneFlagMemberGroupAddCommand.java
  src/main/java/org/zone/commands/system/arguments/sponge/AccountCurrencyArgument.java
  src/main/java/org/zone/commands/system/arguments/sponge/ComponentRemainingArgument.java
  src/main/java/org/zone/commands/system/arguments/sponge/CurrencyArgument.java
  src/main/java/org/zone/commands/system/arguments/sponge/UserArgument.java
  src/main/java/org/zone/commands/system/arguments/zone/ZoneArgument.java
  src/main/java/org/zone/commands/system/context/CommandContext.java
  src/main/java/org/zone/region/Zone.java
  src/main/java/org/zone/region/flag/DefaultFlagFile.java
  src/main/java/org/zone/region/flag/Flag.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakListener.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractListener.java
  src/main/java/org/zone/region/flag/meta/eco/EcoFlag.java
  src/main/java/org/zone/region/flag/meta/eco/EcoFlagType.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/AbstractTransaction.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/DepositTransaction.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/Transaction.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/TransactionBuilder.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/TransactionState.java
  src/main/java/org/zone/region/flag/meta/eco/transaction/WithdrawTransaction.java
  src/main/java/org/zone/region/flag/meta/member/MembersFlag.java
  src/main/java/org/zone/region/flag/meta/member/MembersFlagType.java
  src/main/java/org/zone/region/group/Group.java
  src/main/java/org/zone/region/group/key/GroupKeyManager.java
Labels: flag, feature

#46 Region Changes
  src/main/java/org/zone/commands/structure/create/ZoneCreateEndCommand.java
  src/main/java/org/zone/commands/structure/create/ZoneCreateStartCommand.java
  src/main/java/org/zone/commands/structure/create/ZoneCreateSubStartCommand.java
  src/main/java/org/zone/commands/structure/zone/info/bounds/ZoneInfoBoundsShowCommand.java
  src/main/java/org/zone/event/listener/PlayerListener.java
  src/main/java/org/zone/region/Zone.java
  src/main/java/org/zone/region/ZoneBuilder.java
  src/main/java/org/zone/region/ZoneManager.java
  src/main/java/org/zone/region/bounds/BoundedRegion.java
  src/main/java/org/zone/region/bounds/ChildRegion.java
  src/main/java/org/zone/region/bounds/PositionType.java
  src/main/java/org/zone/region/bounds/Region.java
  src/main/java/org/zone/region/bounds/mode/BlockBoundMode.java
  src/main/java/org/zone/region/bounds/mode/BoundMode.java
  src/main/java/org/zone/region/bounds/mode/BoundModes.java
  src/main/java/org/zone/region/bounds/mode/ChunkBoundMode.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/meta/edit/EditingFlag.java
  src/main/java/org/zone/region/flag/meta/edit/EditingFlagType.java
  src/main/java/org/zone/region/regions/BoundedModifiableRegion.java
  src/main/java/org/zone/region/regions/BoundedRegion.java
  src/main/java/org/zone/region/regions/Region.java
  src/main/java/org/zone/region/regions/type/ChunkRegion.java
  src/main/java/org/zone/region/regions/type/PointRegion.java
Labels: feature

#39 Bonjour
  pom.xml
  src/main/java/module-info.java
  src/main/java/org/zone/commands/structure/ZoneCommands.java
  src/main/java/org/zone/commands/structure/zone/flags/greetings/SetGreetingsMessageCommand.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/greetings/GreetingsFlag.java
  src/main/java/org/zone/region/flag/greetings/GreetingsFlagListener.java
  src/main/java/org/zone/region/flag/greetings/GreetingsFlagType.java
Labels: good first issue, flag, feature

#52 Greetings flag
  src/main/java/org/zone/ZonePlugin.java
  src/main/java/org/zone/commands/structure/ZoneCommands.java
  src/main/java/org/zone/commands/structure/zone/flags/greetings/ZoneFlagGreetingsRemoveMessageCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/greetings/ZoneFlagGreetingsSetMessageCommand.java
  src/main/java/org/zone/commands/structure/zone/flags/greetings/ZoneFlagGreetingsViewCommand.java
  src/main/java/org/zone/region/flag/FlagManager.java
Labels: good first issue, flag

#63 More Sweep sweep sweep
  src/main/java/org/zone/ZonePlugin.java
  src/main/java/org/zone/commands/structure/region/flags/greetings/ZoneFlagGreetingsSetMessageCommand.java
  src/main/java/org/zone/commands/structure/region/flags/greetings/ZoneFlagGreetingsViewCommand.java
  src/main/java/org/zone/region/Zone.java
  src/main/java/org/zone/region/flag/Flag.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakFlag.java
  src/main/java/org/zone/region/flag/interact/block/place/BlockPlaceFlag.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractionFlag.java
  src/main/java/org/zone/region/flag/move/player/greetings/GreetingsFlag.java
  src/main/java/org/zone/region/flag/move/player/greetings/GreetingsFlagListener.java
  src/main/java/org/zone/region/flag/move/player/greetings/GreetingsFlagType.java
Labels: feature

#73 InteractItemframes Flag and Command
  pom.xml
  src/main/java/module-info.java
  src/main/java/org/zone/ZonePlugin.java
  src/main/java/org/zone/commands/structure/ZoneCommands.java
  src/main/java/org/zone/commands/structure/info/ZonePluginInfoCommand.java
  src/main/java/org/zone/commands/structure/region/flags/eco/ZoneFlagViewBalanceCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/door/ZoneFlagInteractDoorViewCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesEnableDisableCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesGroupCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesViewCommand.java
  src/main/java/org/zone/commands/structure/region/flags/members/ZoneFlagMemberGroupAddCommand.java
  src/main/java/org/zone/commands/structure/region/flags/prevention/player/ZoneFlagPreventionPlayerEnableDisableCommand.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakListener.java
  src/main/java/org/zone/region/flag/interact/itemframe/InteractItemframesFlag.java
  src/main/java/org/zone/region/flag/interact/itemframe/InteractItemframesFlagType.java
  src/main/java/org/zone/region/flag/interact/itemframe/InteractItemframesListener.java
  src/main/java/org/zone/region/flag/move/player/preventing/PreventPlayersListener.java
  src/main/java/org/zone/region/group/key/GroupKeys.java
Labels: flag, feature

#76 Tags
  src/main/java/org/zone/ZonePlugin.java
  src/main/java/org/zone/commands/structure/region/flags/interact/destroy/ZoneFlagBlockBreakSetEnabledCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/destroy/ZoneFlagBlockBreakSetGroupCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/destroy/ZoneFlagBlockBreakViewCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/door/ZoneFlagInteractDoorEnabledCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/door/ZoneFlagInteractDoorGroupCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/door/ZoneFlagInteractDoorViewCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesEnableDisableCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesGroupCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/itemframe/ZoneFlagInteractItemframesViewCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/place/ZoneFlagBlockPlaceSetEnabledCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/place/ZoneFlagBlockPlaceSetGroupCommand.java
  src/main/java/org/zone/commands/structure/region/flags/interact/place/ZoneFlagBlockPlaceViewCommand.java
  src/main/java/org/zone/region/Zone.java
  src/main/java/org/zone/region/flag/Flag.java
  src/main/java/org/zone/region/flag/FlagType.java
  src/main/java/org/zone/region/flag/FlagTypes.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakFlag.java
  src/main/java/org/zone/region/flag/interact/block/destroy/BlockBreakFlagType.java
  src/main/java/org/zone/region/flag/interact/block/place/BlockPlaceFlag.java
  src/main/java/org/zone/region/flag/interact/block/place/BlockPlaceFlagType.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractListener.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractionFlag.java
  src/main/java/org/zone/region/flag/interact/door/DoorInteractionFlagType.java
  src/main/java/org/zone/region/flag/interact/itemframe/ItemFrameInteractFlag.java
  src/main/java/org/zone/region/flag/interact/itemframe/ItemFrameInteractFlagType.java
  src/main/java/org/zone/region/flag/interact/itemframe/ItemFrameInteractionListener.java
  src/main/java/org/zone/region/flag/meta/eco/EcoFlag.java
  src/main/java/org/zone/region/flag/meta/edit/EditingFlag.java
  src/main/java/org/zone/region/flag/meta/tag/TagsFlag.java
  src/main/java/org/zone/region/flag/meta/tag/TagsFlagType.java
  src/main/java/org/zone/region/flag/move/monster/PreventMonsterFlag.java
  src/main/java/org/zone/region/flag/move/monster/PreventMonsterFlagType.java
  src/main/java/org/zone/region/flag/move/player/greetings/GreetingsFlag.java
Labels: flag
